<!DOCTYPE html>
<html>
	<head>
		<title>Server List</title>
		<meta charset="UTF-8" />
		<link rel="icon" href="./assets/imgs/favicon.png" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="./assets/css/servers.css" />
		<script defer src="./assets/funcs/serverscript.js"></script>
		<script defer type="module" src="../assets/funcs/randomBG.js"></script>
	</head>
	<body>
		<div class="full-screen-container">
			<div class="container">
				<div class="system-info hidden">
					<span><%= FriendlyName %></span>
					<span><%= Sysinfo.PlatformInfo.PlatformName %></span>
					<span><%= Sysinfo.PlatformInfo.CPUInfo.ModelName %></span>
				</div>
				<div class="grid-container">
					<!-- Insert server tiles -->
					<% Instances.forEach((instance, count) => { %>
					<div class="server-card hidden <%= `${instance.Running ? 'online' : 'offline'}` %>">
						<div class="server-header">
							<span class="instance-name"><%= instance.FriendlyName %></span>
							<span class="instance-game"><%= instance.Module %></span>
						</div>
						<hr />
						<div class="server-footer">
							<div class="progress m-1">
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= instance.Metrics.CPUPer %>%"></div>
								<div class="progress-bar-title">CPU Usage <%= instance.Metrics.CPUPer %>%</div>
							</div>
							<div class="progress m-1">
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= instance.Metrics.MemPer %>%"></div>
								<div class="progress-bar-title">Memory Usage <%= instance.Metrics.MemUsed %></div>
							</div>
							<div class="progress m-1">
								<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= instance.Metrics.UsersPer %>%"></div>
								<div class="progress-bar-title">Active Users <%= instance.Metrics.UsersTotal %></div>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</body>
</html>
